@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1 {
  font-size: 28px;
  color: rgba(52, 71, 54, 0.9);
  font-weight: bold;
}

body {
  color: rgb(var(--background-start-rgb));
  background: rgba(147, 171, 150, 0.434);
  
}

input,
select {
  background-color: rgba(107, 142, 111, 0.477);
  border: 2px solid rgba(29, 40, 30, 0.9);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  outline: none;
}
input::placeholder,
select::placeholder {
color: rgb(1, 0, 1);
}

.submit-button {
  background-color:  rgba(54, 72, 56, 0.9);

  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  font-weight: bold;

}

.submit-button:hover {
  background-color: rgba(78, 104, 81, 0.9);

}

.error-message {
  color: rgb(255, 69, 0);
  font-size: 10px;
  margin-left: 10px;
}